.w{
    display: flex;
    justify-content: center;
}
.p{
   border-radius: 20px;
}
.b{
    display: flex;
}
.h{
    font-family: "Rubik Storm",
        system-ui;
        font-weight: 400;
        font-style: normal;
        font-family: "Dancing Script", cursive;
            font-optical-sizing: auto;
            font-weight: 400;
            font-style: normal;
}
.m{
    display: flex;
        justify-content: end
}
.n{
    background-color: #1df309;
    color:  #1e05fa;
    border-radius: 20px;
}
button:hover{
background-color: transparent;
    border: 2px solid #1df309;
    color: white;
    background-color:royalblue;
    cursor: pointer;
    /* sichqoncha ustiga kelganda kursorni pointerga o'zgartirish*/
    transition: all 0.3s ease;
    /* tezlikni ozgartirish*/
}
a{
    text-decoration: none;
}
